<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195552624932-4789h3sdcn0o169kjs6l009ep66h67bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195552624932-4789h3sdcn0o169kjs6l009ep66h67bk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>195552624932-knrl9rdj1hbtuh71hv1t8021dgtfqtpv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlv-HaoWrpYS5As-tlT_dKEh4bM4g5vaA</string>
	<key>GCM_SENDER_ID</key>
	<string>195552624932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bros.volleyballproject</string>
	<key>PROJECT_ID</key>
	<string>volley-429704</string>
	<key>STORAGE_BUCKET</key>
	<string>volley-429704.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195552624932:ios:f66c32e1bbb5f5f560b3b1</string>
</dict>
</plist>